/* index */
body {
  background-color: #F4F6F6;
}

@mixin clearfix {
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin radius($color:#fff,$brpx:3px) {
  color: $color;
  border-radius: $brpx;
}

$bace-color:#F1C40F;

.ttl {
  font-size: 16px;

    &:before {
      content: "あなたははは";
    }

    &:after {
      content: "なフレンズなんだね！";
    }
}

.box {
  @include clearfix;

    .serif-yokoso,
    .serif-sugoi,
    .serif-tanoshi {
      width: 33%;
      float: left;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .serif-yokoso {
      @include radius;
      background: lighten($bace-color, 15%);
    }

    .serif-sugoi {
      @include radius($color:#000,$brpx:50px) ;
      background: #f5d657;
    }

    .serif-tanoshi {
      background: #aa8a0a;
    }
}
